/* ************************************************* */
/* header begins */

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background-color: #000;
}
.hd__wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.hd__logo {
    float: left;
    width: 190px;
    height: 100%;
}
.hd__logo h1 {
    width: 100%;
    height: 100%;
}
.hd__logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/nubia-logo.png") no-repeat;
}
.hd__nav {
    float: right;
    width: 740px;
    height: 100%;
}
.hd__menu {
    float: left;
    width: 550px;
    height: 100%;
}
.hd__menu li {
    float: left;
    line-height: 60px;
    margin-left: 40px;
}
.hd__menu .menu__link {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.hd__user {
    float: right;
    width: 150px;
    height: 100%;
}
.hd__user li {
    float: right;
    line-height: 60px;
    margin-right: 10px;
}
.hd__user .user__link {
    color: #ccc;
}
.hd__user .user__icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    background: url("../images/nubia-syb-all.png") no-repeat;
}

.hover_color:hover {  /* 要全局适配的样式需要写在最后，以便覆盖掉上面的默认属性、方可生效 */
    color: #e82c07;
}

/* ************************************************* */

/* banner begins */
.banner {
    width: 100%;
    margin-top: 60px;
    height: 860px;
    position: relative; /* 让 banner 图片上部分可以透过 phonelist */
}

.banner__carrousel {
    width: 100%;
    height: 600px;
    text-align: center;
    overflow: hidden;
    position: relative; /* 用于子元素 - 圆点指示器 - 做子绝父相的定位 */
}
.banner__carrousel .banner__img {
    height: 100%;
    margin: 0 -100%;
}

.banner__carrousel .banner__indicators {
    width: 150px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 20px;
    padding-top: 4px;
}
.banner__indicators li {
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 9px;
    border-radius: 15px;
    background-color: #999;
    transition: border .3s, transform .3s;
    cursor: pointer;
}
.banner__indicators li:hover {
    border: 2px solid orangered;
    transform: scale(1.3);
}

.banner__phonelist_wrapper {
    width: 100%;
    height: 121px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.banner__phonelist {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.banner__phonelist ul {
    width: 100%;
    height: 100%;
    padding: 0 75px;
}
.banner__phonelist ul li {
    float: left;
    width: 150px;
    height: 100%;
    padding-top: 15px;
    text-align: center;
}
.banner__phonelist ul li:hover {
    border-bottom: 2px solid #e82c07;
}

.banner__phonelist ul li img {
    width: 120px;
    height: 80px;
}
.banner__phonelist ul li p {
    color: #aaa;
}


.banner__videos {
    width: 1200px;
    height: 250px;
    margin: 10px auto 0;
}

.banner__videos ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.banner__videos ul>li {
    float: left;
    width: 396px;
    height: 100%;
    background-color: black;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner__videos ul>li>img {
    height: 100%;
    margin: 0 -100%;
}

.banner__videos .video__playbtn {
    width: 100%;
    height: 155px;
    line-height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    opacity: 0;
    transition: opacity .5s;
}

.banner__videos .video__playbtn > h3 {
    font-size: 16px;
}

.banner__videos li:hover .video__playbtn {
    opacity: 1;
}

.banner__videos .video__playbtn img {
    cursor: pointer;
}

.banner__videos li:hover .video__playbtn img {
    animation: show--play-btn 2s linear .2s 1 forwards;
}

@keyframes show--play-btn {
    20% {
        transform: scale(1.3);
        
    }
    40% {
        transform: scale(1);

    }
    60% {
        transform: scale(1.3);

    }
    80% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.4)
    }
}

/* ************************************************* */

/* content begins */

.content {
    width: 100%;
    height: 1883px;
}

.content dl {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.content dl > dt > h3 {
    font-size: 35px;
    color: #333;
    margin: 40px 0 20px;
}

.content dl > dt > p {
    color: #e8340e;
    margin-bottom: 30px;
}

.content__products {
    width: 1200px;
    height: 1200px;
}

.content__products > li {
    float: left;
    overflow: hidden;
    background-color: white;
    position: relative;
}
.content__products > li:nth-of-type(1) {
    width: 1200px;
    height: 395px;
    padding-top: 50px;
    margin-bottom: 10px;
}
.content__products > li:nth-of-type(2) {
    width: 395px;
    height: 795px;
    margin-right: 10px;
}
.content__products > li:nth-of-type(3) {
    width: 795px;
    height: 390px;
    margin-bottom: 10px;
}
.content__products > li:nth-of-type(4) {
    width: 390px;
    height: 395px;
    margin-right: 10px;
}
.content__products > li:nth-of-type(5) {
    width: 395px;
    height: 395px;
}
.content__products img {
    width: 100%;
    transition: all 1s;
}

.content__phone_desc {
    width: 200px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
}

.content__phone_desc > h3 {
    font-size: 20px;
    color: #000;
}
.content__phone_desc > p{
    font-size: 15px;
    margin: 5px 0 10px;
}
.content__phone_desc span {
    display: inline-block;
    width: 108px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.content__products > li:nth-of-type(1) .content__phone_desc {
    left: 0;
    top: 150px;
    margin-left: 850px;
}

.content__products .img_slide_right {
    margin-left: -120px;
}
.content__products .img_slide_left {
    margin-left: 120px;
}

.content__products > li:hover .img_slide {
    margin-left: 0;
}
.content__products > li:hover .img_magnify {
    transform: scale(1.2);
}

.content__accessories {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.content__accessories li {
    float: left;
    width: 295px;
    height: 100%;
    overflow: hidden;
    background: white;
}
.content__accessories li img {
    width: 90%;
    margin: 20px 0;
    transition: all .5s;
}
.content__accessories li:hover img {
    transform: scale(1.2);
}


/* ************************************************* */
/* footer begins */
.footer {
    width: 100%;
    height: 396px;
    overflow: hidden;
}
.footer__wrapper {
    width: 1200px;
    height: 356px;
    margin: 40px auto 0;
    padding: 50px 100px;
    border-top: 1px solid #ccc;
}

.footer__magnifier {
    width: 20px;
}

.footer dl {
    width: 200px;
    margin-top: 25px;
    float: left;
}
.footer a {
    color: #888;
}
.footer dl dt {
    display: block;
}

.footer dl dt h3 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 30px;
}
.footer dl dd {
    line-height: 20px;
}

.footer__links_and_contacts {
    margin: 20px 0 0 0;
    width: 100%;
    line-height: 30px;
}
.footer__links li {
    float: left;
    font-size: 10px;
}
.footer__links li a {
    color: #888;
}
.footer__links li span {
    padding: 0 5px;
    font-size: 10px;
}

.footer__contacts {
    float: left;
    margin-left: 50px;
}
.footer__contacts li {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.footer__contacts li:hover {
    cursor: pointer;
}
.footer__links_and_contacts .contact__hotline {
    font-size: 20px;
}
.footer__contacts li:nth-of-type(1) {
    background: url("../images/nubia-syb-all.png") no-repeat -246px 0;
}
.footer__contacts li:nth-of-type(2) {
    background: url("../images/nubia-syb-all.png") no-repeat -186px 0;
}
.footer__contacts li:nth-of-type(3) {
    background: url("../images/nubia-syb-all.png") no-repeat -126px 0;
}
.footer__contacts li:nth-of-type(4) {
    background: url("../images/nubia-syb-all.png") no-repeat -156px 0;
}

.footer__contacts li:nth-of-type(1):hover {
    background: url("../images/nubia-syb-all.png") no-repeat -246px -30px;
}
.footer__contacts li:nth-of-type(2):hover {
    background: url("../images/nubia-syb-all.png") no-repeat -186px -30px;
}
.footer__contacts li:nth-of-type(3):hover {
    background: url("../images/nubia-syb-all.png") no-repeat -126px -30px;
}
.footer__contacts li:nth-of-type(4):hover {
    background: url("../images/nubia-syb-all.png") no-repeat -156px -30px;
}

.footer__info {
    line-height: 30px;
    margin-bottom: 10px;
}
.footer__info span {
    font-size: 10px;
    vertical-align: middle;
}
.footer__info img {
    width: 10px;
    vertical-align: middle;
}

/* ************************************************* */