.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::before, 
.clearfix::after {
    display: block;
    content: ' ';
    height: 0;
    visibility: hidden;
    clear: both;
}
a {
    text-decoration: none;
}
div, ul, ol, li, a, span, h1, h3, img {
    box-sizing: border-box;
}