body {
    font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #999;
    background-color: #f2f2f2;
}

/* 顶部工具条开始 */
.topbar {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
}
.topbar ul {
    height: 100%;
}
.topbar ul > li {
    float: left;
    height: 100%;
    margin: 0 10px;
}
.topbar ul > li:first-of-type {
    margin-left: 0;
}
.topbar ul > li:last-of-type {
    margin-right: 0;
}
.topbar ul > li > a {
    color: #666;
}
.topbar ul > li > a > i {
    display: inline-block;
    transition: all .3s;
}
.topbar ul > li > a:hover > i {
    transform: rotateZ(-180deg);
}
/* 顶部工具条结束 */

/* 头部开始 */
.header {
    width: 100%;
    height: 148px;
    background-color: #fff;
}
.header__top {
    width: 100%;
    height: 110px;
    padding-top: 5px;
    overflow: hidden;
}
.header__top__logo a img {
    width: 190px;
    height: 90px;
}
.header__top__ad img {
    display: inline-block;
    width: 160px;
    height: 100px;
}
.header__top__search form {
    margin-top: 30px;
    position: relative;
}
.header__top__search i.icon-sousuo {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 20px;
    color: #ccc;
}
.header__top__search input {
    height: 44px;
    outline: none;
    border: 2px solid #f90;
    box-sizing: border-box;
}
.header__top__search input[type=text] {
    width: 420px;
    padding-left: 28px;
}
.header__top__search input[type=text]::placeholder {
    color: rgb(204, 204, 204);
}
.header__top__search input[type=submit] {
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #f90;
} 
.header__top__search ul li {
    float: left;
    margin: 5px 5px 0;
    color: rgb(204, 204, 204);
}

.header__bot {
    width: 100%;
    height: 38px;
    line-height: 38px;
}
.header__bot__all-commodity {
    width: 190px;
    height: 100%;
    background-color: #f90;
}
.header__bot__all-commodity:hover {
    background-color: #f80;
}
.header__bot__all-commodity a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.header__bot__all-commodity a i {
    margin-left: 7px;
    vertical-align: bottom;
}
.header__bot__navbar {
    padding-left: 10px;
    overflow: hidden;
}
.header__bot__navbar li {
    float: left;
    margin: 0 13px;
    position: relative;
}
.header__bot__navbar li a {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.header__bot__navbar li:hover a {
    color: #f60;
}
.header__bot__navbar li i.hot {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("../images/icons.png") no-repeat;
    background-position: -345px -213px;
    position: absolute;
    top: 0;
    right: -15px;
}
.header__bot__navbar li span {
    display: inline-block;
    width: 25px;
    height: 8px;
    background: url("../images/icons.png") no-repeat;
    background-position: -37px 0;

    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);   

    transition: all .3s;
}
.header__bot__navbar li:hover span {
    bottom: 0;
}
.header__bot__notice {
    float: right;
    width: 170px;
    height: 38px;
}
.header__bot__notice img {
    height: 100%;
}
/* 头部结束 */

/* banner 开始 */
.banner {
    width: 100%;
    height: 482px;
    background-color: #f90;
    overflow: hidden;
}
.banner > .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.banner__left {
    width: 190px;
    height: 100%;
    background-color: #222;
}

.banner__left ul li {
    height: 32px;
    line-height: 32px;
    padding: 0 8px 0 10px;    
}
.banner__left ul li:hover {
    background-color: #fff;
}
.banner__left ul li:hover a {
    color: #333;
}
.banner__left ul li a {
    color: #fff;
    font-size: 13px;
    vertical-align: middle;
}
.banner__left ul li a:hover {
    color: #f60;
}
.banner__center {
    flex: 1;
    height: 100%;
    position: relative;
}

.banner__center__bg img {
    vertical-align: bottom;
}
.banner__center__bg p.arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner__center__bg p.arrows a {
    display: inline-block;
    width: 30px;
    height: 64px;
    background: url("../images/icons.png") no-repeat -82px -145px;
}
.banner__center__bg p.arrows a:last-of-type {
    background-position: -120px -145px;
}

.banner__center__bg ol.indicator {
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
}
.banner__center__bg ol.indicator li {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    background: url("../images/icons.png") no-repeat 0 -100px;
}
.banner__center__bg ol.indicator li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.banner__center__bg ol.indicator li:first-of-type {
    background-position: -26px -100px;
}

.banner__center__fg {
    width: 816px;
    height: 122px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
.banner__center__fg li {
    width: 202px;
    height: 100%;
    padding: 10px;
    float: left;
    background-color: #fff;
}
.banner__center__fg li a {
    font-size: 17px;
    font-weight: bold;
    color: #EF4124;
}
.banner__center__fg li:nth-of-type(2) a {
    color: #9837ee;
}
.banner__center__fg li:nth-of-type(3) a {
    color: #44b171;
}
.banner__center__fg li p {
    color: #999;
}
.banner__center__fg li img {
    float: right;
    margin-top: -12px;
}
.banner__right {
    width: 170px;
    height: 101%;
    margin-top: -1px;
    background-color: #fff;
}
.banner__right__top {
    width: 100%;
    height: 169px;
    text-align: center;
}
.banner__right__top .avatar {
    display: inline-block;
    font-style: normal;
    width: 53px;
    height: 53px;
    background: url("../images/icons.png") no-repeat -93px -23px;
    margin-top: 10px;
}
.banner__right__top p {
    margin-bottom: 13px;
}
.banner__right__top p span {
    display: inline-block;
    width: 72px;
    height: 24px;
    line-height: 24px;
    margin: 0 4px;
    border: 1px solid #f60;
    color: #f60;
    vertical-align: middle;
    box-sizing: border-box;
    background: url("../images/icons.png") no-repeat;
}
.banner__right__top p:nth-of-type(2) span:nth-of-type(1) {
    background: none;
}
.banner__right__top p:nth-of-type(2) span:nth-of-type(2) {
    background-position: -295px -251px;
}
.banner__right__top p:nth-of-type(3) span:nth-of-type(1) {
    margin-top: 5px;
    border: none;
    background-position: -670px -256px;
}
.banner__right__top p:nth-of-type(3) span:nth-of-type(2) {
    margin-top: 5px;
    border: none;
    background-position: -670px -288px;
}
.banner__right__mid {
    width: 100%;
    height: 166px;
}
.banner__right__mid ul {
    width: 171px;
    height: 100%;
    padding: 10px;
}
.banner__right__mid ul li {
    padding-top: 10px;
}
.banner__right__mid ul li a {
    color: #333;
}
.banner__right__mid ul li a span {
    color: #f60;
}
.banner__right__bot {
    width: 100%;
    height: 147px;
    overflow: hidden;
}
.banner__right__bot ul {
    width: 171px;
}
.banner__right__bot ul li {
    float: left;
    width: 57px;
    height: 74px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    
}
.banner__right__bot ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 24px;
    margin-top: 10px;
    color: #333;
}
.banner__right__bot ul li a:hover {
    color: #f60;
}
.banner__right__bot ul li a i {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-style: normal;
    color: #f60;
}
/* banner 结束 */

/* 抢购 开始 */
.rushbuy {
    width: 100%;
    height: 307px;
    margin-top: 20px;
}
.rushbuy__wrapper {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.rushbuy__top {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #eee;
}
.rushbuy__top > img.qg {
    margin: 13px 20px 0;
}
.rushbuy__top > p {
    line-height: 48px;
    margin-right: 15px;
    color: #333;
}
.rushbuy__top > p > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}
.rushbuy__top > ul {
    margin: 11px 0 0 20px;
}
.rushbuy__top > ul > li {
    float: left;
    width: 133px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #333;
}
.rushbuy__top > ul > li:first-of-type {
    color: #fff;
    background: url("../images/icons.png") no-repeat -561px 0;
}

.rushbuy__top > a {
    color: #333;
    line-height: 48px;
    padding-right: 10px;
}
.rushbuy__top > a > i {
    vertical-align: middle;
}

.rushbuy__bot {
    width: 100%;
    height: 260px;
    padding: 10px 10px 0 0;
}
.rushbuy__bot ul {
    width: 1000px;
    height: 240px;
}
.rushbuy__bot ul li {
    float: left;
    width: 200px;
    height: 100%;
    text-align: center;
    padding: 0 10px;
    border-right: 1px solid #eee;
}
.rushbuy__bot ul li a img {
    width: 159px;
    height: 159px;
}
.rushbuy__bot ul li a {
    text-align: left;
}
.rushbuy__bot ul li a h3 {
    color: #333;
    height: 20px;
    overflow: hidden;
}
.rushbuy__bot ul li a p.price em {
    font-size: 16px;
    font-weight: bold;
    color: #f60;
}
.rushbuy__bot ul li a p.price i {
    font-style: normal;
    margin-left: 10px;
}
.rushbuy__bot ul li a p.progress {
    position: relative;
    overflow: hidden;
    color: #333;
    margin-left: 5px;
}
.rushbuy__bot ul li a p.progress b, 
.rushbuy__bot ul li a p.progress b i {
    display: inline-block;
    width: 100px;
    height: 6px;
    border-radius: 15px;
    overflow: hidden;
    background: url("../images/icons.png") no-repeat -561px -74px;
    position: absolute;
    top: 5px;
    left: 0;
}
.rushbuy__bot ul li a p.progress b i {
    background-position: -561px -94px;
    position: absolute;
    top: 0;
    left: -50%;
}
/* 抢购 结束 */

/* 楼层开始 */
.floor {
    width: 100%;
    /* height: 567px; */
}
.floor__left,
.floor__right {
    width: 590px;
    height: 100%;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
}
.floor__title {
    width: 100%;
    height: 47px;
    line-height: 47px;
    background-color: #f9f9f9;
}
.floor__title p {
    margin-top: 12px;
    padding-left: 10px;
    line-height: 20px;

    border-left: 4px solid #33ae75;
    font-size: 18px;
    font-weight: bold;   
    color: #33ae75;
    vertical-align: middle;
}

.floor__title p i {
    padding-left: 5px;
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
}

.floor__title ul li {
    float: left;
    margin-right: 20px;
}
.floor__title ul li a {
    font-size: 14px;
    color: #333;
}
.floor__title ul li a:hover {
    color: #f90;
}
.floor__content {
    width: 100%;
    height: 360px;
}
.floor__content__left {
    width: 190px;
    height: 100%;
    position: relative;
}
.floor__content__left a {
    color: #fff;
    
}
.floor__content__left a img {
    width: 100%;
}
.floor__content__left a .mask {
    width: 160px;
    height: 60px;
    line-height: 25px;
    padding: 6px 0 0 25px;

    background-color: rgba(0,0,0,.5);
    border-radius: 0 5px 5px 0;
    position: absolute;
    left: 0;
    bottom: 40px;
}
.floor__content__left a .mask h4 {
    font-size: 18px;
    font-weight: bold;
}
.floor__content__left a .mask p {
    font-size: 14px;
}
.floor__content__right {
    width: 400px;
    height: 100%;
}
.floor__content__right li {
    float: left;
    width: 200px;
    height: 180px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid #f9f9f9;
    border-bottom: none;
}
.floor__content__right li:nth-of-type(1) {
    border-right: none;
}
.floor__content__right li:nth-of-type(3) {
    border-right: none;
}
.floor__content__right li a h4 {
    font-size: 16px;
    color: #333;
}
.floor__content__right li a p {
    font-size: 12px;
    color: #33ae75;
}
.floor__content__right li a img {
    width: 120px;
    height: 120px;
}
.floor__content__middle {
    width: 100%;
    overflow: hidden;
}
.floor__content__middle li {
    float: left;
    width: 200px;
    height: 109px;
    padding-left: 20px;
    border: 1px solid #f9f9f9;
}
.floor__content__middle li:first-of-type {
    width: 190px;
    border-right: none;
}
.floor__content__middle li:nth-of-type(2) {
    border-right: none;
}
.floor__content__middle li a h4 {
    font-size: 16px;
    margin-top: 30px;
    color: #333;
}
.floor__content__middle li a p {
    font-size: 12px;
    color: #33ae75;
}
.floor__content__middle li a img {
    float: right;
    width: 84px;
    height: 84px;
    margin: 10px 10px 0 0;
}
.floor__content__bottom {
    border: 1px solid #f9f9f9;
    border-top: none;
}
.floor__content__bottom li {
    float: left;
    padding: 8px 9px 0;
    
}
.floor__content__bottom li a img {
    width: 80px;
    height: 30px;
    border-top: none;
}
/* 楼层结束 */

/* end 标识开始 */
.splitter {
    width: 100%;
    height: 50px;
    position: relative;
}
.splitter p {
    width: 100px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    background-color: rgb(242, 242, 242);
}
.splitter span {
    display: inline-block;
    height: 1px;
    width: 300px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* end 标识结束 */

/* 底部开始 */
.footer {
    width: 100%;
    height: 480px;
}
.footer__top {
    width: 100%;
    height: 280px;
}
.footer__top__info {
    width: 100%;
    height: 74px;
    border: 1px solid #eee;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__top__info dl dt {
    float: left;
    margin-right: 10px;
}
.footer__top dl dd a {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.footer__top dl dd a:hover {
    color: #f90;
}
.footer__top dl dd {
    width: 190px;
    color: #888;
    line-height: 24px;
}
.footer__top__list {
    display: flex;
    justify-content: space-between;
}
.footer__top__list dl {
    /* width: 150px; */
}
.footer__top__list dl dt {
    margin: 8px 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.footer__top__list dl dd a {
    display: inline-block;
    width: 110px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    line-height: 24px;
}
.footer__bot {
    height: 200px;
    line-height: 25px;
    padding-top: 10px;
    text-align: center;
    color: #888;
    background-color: #fff;
}
.footer__bot a {
    color: #888;
}
.footer__bot__hl,
.footer__bot__hl a {
    color: #333;
}
.footer__bot p:last-of-type {
    margin-top: 8px;
}
/* 底部结束 */

/* sidebar 开始 */
.sidebar {
    width: 35px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
}
.sidebar__top,
.sidebar__bot {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 200px;
}
.sidebar__bot {
    top: auto;
    bottom: 10px;
}

.sidebar a {
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.sidebar a:hover {
    color: #fff;
    background-color: #f90;
}
.sidebar__top div.cart {
    width: 100%;
    border: 1px solid #666;
    border-left: none;
    border-right: none;
    margin-top: 10px;
}
.sidebar__top div.cart a {
    width: 100%;
    height: 100%;
}
.sidebar__top div.cart a i,
.sidebar__top div.cart a span,
.sidebar__top div.cart a span b {
    display: inline-block;
    width: 20px;
    line-height: 18px;
}
.sidebar__top div.cart a span b {
    height: 13px;
    line-height: 13px;
    border-radius: 5px;
    background-color: red;
}
.sidebar__top .money {
    margin-top: 30px;
}
/* sidebar 结束 */