body {
    font: 12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #999;
    background-color: #f2f2f2;
}

/* 顶部工具条开始 */
.topbar {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #f5f5f5;
}
.topbar ul {
    height: 100%;
}
.topbar ul > li {
    float: left;
    height: 100%;
    margin: 0 10px;
}
.topbar ul > li:first-of-type {
    margin-left: 0;
}
.topbar ul > li:last-of-type {
    margin-right: 0;
}
.topbar ul > li > a {
    color: #666;
}
.topbar ul > li > a > i {
    display: inline-block;
    transition: all .3s;
}
.topbar ul > li > a:hover > i {
    transform: rotateZ(-180deg);
}
/* 顶部工具条结束 */

/* 头部开始 */
.header {
    width: 100%;
    height: 148px;
    background-color: #fff;
}
.header__top {
    width: 100%;
    height: 110px;
    padding-top: 5px;
    overflow: hidden;
}
.header__top__logo a img {
    width: 190px;
    height: 90px;
}
.header__top__ad img {
    display: inline-block;
    width: 160px;
    height: 100px;
}
.header__top__search form {
    margin-top: 30px;
    position: relative;
}
.header__top__search i.icon-sousuo {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 20px;
    color: #ccc;
}
.header__top__search input {
    height: 44px;
    outline: none;
    border: 2px solid #f90;
    box-sizing: border-box;
}
.header__top__search input[type=text] {
    width: 420px;
    padding-left: 28px;
}
.header__top__search input[type=text]::placeholder {
    color: rgb(204, 204, 204);
}
.header__top__search input[type=submit] {
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #f90;
} 
.header__top__search ul li {
    float: left;
    margin: 5px 5px 0;
    color: rgb(204, 204, 204);
}

.header__bot {
    width: 100%;
    height: 38px;
    line-height: 38px;
}
.header__bot__all-commodity {
    width: 190px;
    height: 100%;
    background-color: #f90;
}
.header__bot__all-commodity:hover {
    background-color: #f80;
}
.header__bot__all-commodity a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.header__bot__all-commodity a i {
    margin-left: 7px;
    vertical-align: bottom;
}
.header__bot__navbar {
    padding-left: 10px;
    overflow: hidden;
}
.header__bot__navbar li {
    float: left;
    margin: 0 13px;
    position: relative;
}
.header__bot__navbar li a {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.header__bot__navbar li:hover a {
    color: #f60;
}
.header__bot__navbar li i.hot {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: url("../images/icons.png") no-repeat;
    background-position: -345px -213px;
    position: absolute;
    top: 0;
    right: -15px;
}
.header__bot__navbar li span {
    display: inline-block;
    width: 25px;
    height: 8px;
    background: url("../images/icons.png") no-repeat;
    background-position: -37px 0;

    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);   

    transition: all .3s;
}
.header__bot__navbar li:hover span {
    bottom: 0;
}
.header__bot__notice {
    float: right;
    width: 170px;
    height: 38px;
}
.header__bot__notice img {
    height: 100%;
}
/* 头部结束 */

/* banner 开始 */
.banner {
    width: 100%;
    height: 482px;
    background-color: #f90;
}
.banner > .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.banner__left {
    width: 190px;
    height: 100%;
    background-color: #222;
}

.banner__left ul li {
    height: 32px;
    line-height: 32px;
    padding: 0 8px 0 10px;    
}
.banner__left ul li:hover {
    background-color: #fff;
}
.banner__left ul li:hover a {
    color: #333;
}
.banner__left ul li a {
    color: #fff;
    font-size: 13px;
    vertical-align: middle;
}
.banner__left ul li a:hover {
    color: #f60;
}
.banner__center {
    flex: 1;
    height: 100%;
    position: relative;
}

.banner__center__bg img {
    vertical-align: bottom;
}
.banner__center__bg p.arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner__center__bg p.arrows a {
    display: inline-block;
    width: 30px;
    height: 64px;
    background: url("../images/icons.png") no-repeat -82px -145px;
}
.banner__center__bg p.arrows a:last-of-type {
    background-position: -120px -145px;
}

.banner__center__bg ol.indicator {
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
}
.banner__center__bg ol.indicator li {
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    background: url("../images/icons.png") no-repeat 0 -100px;
}
.banner__center__bg ol.indicator li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.banner__center__bg ol.indicator li:first-of-type {
    background-position: -26px -100px;
}

.banner__center__fg {
    width: 816px;
    height: 122px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
.banner__center__fg li {
    width: 202px;
    height: 100%;
    padding: 10px;
    float: left;
    background-color: #fff;
}
.banner__center__fg li a {
    font-size: 17px;
    font-weight: bold;
    color: #EF4124;
}
.banner__center__fg li:nth-of-type(2) a {
    color: #9837ee;
}
.banner__center__fg li:nth-of-type(3) a {
    color: #44b171;
}
.banner__center__fg li p {
    color: #999;
}
.banner__center__fg li img {
    float: right;
    margin-top: -12px;
}
.banner__right {
    width: 170px;
    height: 101%;
    margin-top: -1px;
    background-color: #fff;
}
.banner__right__top {
    width: 100%;
    height: 169px;
    text-align: center;
}
.banner__right__top .avatar {
    display: inline-block;
    font-style: normal;
    width: 53px;
    height: 53px;
    background: url("../images/icons.png") no-repeat -93px -23px;
    margin-top: 10px;
}
.banner__right__top p {
    margin-bottom: 13px;
}
.banner__right__top p span {
    display: inline-block;
    width: 72px;
    height: 24px;
    line-height: 24px;
    margin: 0 4px;
    border: 1px solid #f60;
    color: #f60;
    vertical-align: middle;
    box-sizing: border-box;
    background: url("../images/icons.png") no-repeat;
}
.banner__right__top p:nth-of-type(2) span:nth-of-type(1) {
    background: none;
}
.banner__right__top p:nth-of-type(2) span:nth-of-type(2) {
    background-position: -295px -251px;
}
.banner__right__top p:nth-of-type(3) span:nth-of-type(1) {
    margin-top: 5px;
    border: none;
    background-position: -670px -256px;
}
.banner__right__top p:nth-of-type(3) span:nth-of-type(2) {
    margin-top: 5px;
    border: none;
    background-position: -670px -288px;
}
.banner__right__mid {
    width: 100%;
    height: 166px;
}
.banner__right__mid ul {
    width: 171px;
    height: 100%;
    padding: 10px;
}
.banner__right__mid ul li {
    padding-top: 10px;
}
.banner__right__mid ul li a {
    color: #333;
}
.banner__right__mid ul li a span {
    color: #f60;
}
.banner__right__bot {
    width: 100%;
    height: 147px;
    overflow: hidden;
}
.banner__right__bot ul {
    width: 171px;
}
.banner__right__bot ul li {
    float: left;
    width: 57px;
    height: 74px;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    
}
.banner__right__bot ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 24px;
    margin-top: 10px;
    color: #333;
}
.banner__right__bot ul li a:hover {
    color: #f60;
}
.banner__right__bot ul li a i {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-style: normal;
    color: #f60;
}
/* banner 结束 */